"Sunny Nurseries" have had a customer inquiry about their Iris plants that they sell. The customer wishes to know how what is the average size of petals on the three different species that "Sunny Nurseries" sells.

I have had the task to find out from a sample population to find out the size orders from large to small. 
I will do an analysis of the data provided and present my findings to the customer.

In [1]:
# I will import the dataset and import relevant packages to help with my research
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as scs
import seaborn as sns 
from scipy.stats import norm,t

df_iris = pd.read_csv('..\StatistiskaMetoder\data\iris.csv') # dataset

In [5]:
# Showing the top 3 lines of the dataframe
df_iris.head(3)

   sepal_length   sepal_width   petal_length   petal_width        class
0           5.1           3.5            1.4           0.2  Iris-setosa
1           4.9           3.0            1.4           0.2  Iris-setosa
2           4.7           3.2            1.3           0.2  Iris-setosa

In [2]:
# Here is what information is provided in the data set
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sepal_length   150 non-null    float64
 1    sepal_width   150 non-null    float64
 2    petal_length  150 non-null    float64
 3    petal_width   150 non-null    float64
 4    class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [3]:
df_iris[' class'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

We can see here that there is 5 different columns containing information of the type(class), sepal length, sepal width, petal length and petal width.